.DS_Store
ssh_config.py
*.pyc
build/
dist/
*.egg-info
web/.gitignore
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.nrepl-port
.hgignore
.hg/

# Env Config
conf/

# Tags
GPATH
GRTAGS
GSYMS
GTAGS