# Mac stuff
.DS_Store

# Python Config Files
ssh_config.py
*.pyc
build/
dist/
*.egg-info
/target
/classes
/checkouts

# CLojure Env Config
conf/

# Leiningen And REPL Setup
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.nrepl-port

# GTags
GPATH
GRTAGS
GSYMS
GTAGS

# Editor Tools Config:w
.hgignore
.hg/

# Log Files
*.log

# TODOs
TODOs.org
